Chris Wensley <cdwensley.maths@btinternet.com>
Chris Wensley <cdwensley.maths@btinternet.com> <cwensley1234@btinternet.com>
Sam Tertooy <sam.tertooy@hotmail.com>
Sam Tertooy <sam.tertooy@hotmail.com> <5571903+stertooy@users.noreply.github.com>
Thomas Breuer <sam@math.rwth-aachen.de>
